<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Jumony Core Demo</title>
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="domViewer.css" />
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="jumony.js"></script>
</head>
<body>
  <header class="header">
    <partial action="ChooseDocument" inherits="hash"></partial>
  </header>
  <partial action="PageViewer"></partial>

</body>
</html>
