<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>CSS 选择器测试</title>
  <link rel="stylesheet" href="selected.css" />
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="domViewer.css" />
</head>
<body>
  <div class="choose-selector">
    <form action="Default" controller inherits="*">
      <section id="selector-input">
        <input type="text" name="selector" class="text" value="{eval key=SelectorExpression}" />
        <span class="selected-elements"><em class="index">1</em>of<em class="count"><eval key="SelectedElements"></eval></em></span>
      </section>
      <section>
        <button type="submit" class="btn">筛选</button>
      </section>
    </form>
    <div class="btn-group">
      <a href="#" class="next btn">下一个</a>
      <a href="#" class="prev btn">上一个</a>
    </div>
    <div class="message">
      分析文档耗时：
      <eval path="[Timespan]"></eval>
    </div>
  </div>
</body>
</html>
